/*red colour= #63130d  */
/*orange colour= #ffa200 */

body {
  margin: 0;
  
}


ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #ffa200;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color:  #63130d;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #cf8300;
    color: white;
}

/*ul.sidenav li a:lastchild {
  position: absolute;
  bottom: 0px;
}*/

/*#brand {
    background-color:  #ffa200;
    color: black;
    position: fixed;


}*/


div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 600px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

div.dbcontent-container {
  
  margin-left : 15%;
  margin-right: 15%;
  padding: 15px;
  /*border: 5px solid black;*/

}

div.tile-item {
  /*background-color: #fff5db;*/
  border: 1px solid;
  border-color:  #63130d;
  background-color: white;
  padding: 10px;
  margin: 20px;
  max-width: 500px;
  max-height: 800px;
  display: inline-block;
  box-shadow: 0px 0px 10px #888888;
}
div.tile-item a, div.tile-item2 a {
  text-decoration: none;
  color: black;

}

div.tile-item2 {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  max-width: 800px;
  max-height: 800px;
  box-shadow: 0px 0px 10px #888888;
}




div.tile-title {
  text-align: center;
  text-decoration: none;
}

div.tile-title h2 {
 color:  #63130d;
}

div.tile-body {
  text-decoration: none;
}


/*Course page*/
#sublink:hover{
  color: #63130d;
  text-decoration: underline;
}